target/
*.settings/
*.project
**.metadata/
*.classpath
/target/*
*/.settings/*
*/.project
*/.classpath
*/target
*.iml
/*/.classpath
*/bin
**.bin/
.idea/
/*/target
*.pkg
.metadata
.metadata/*
*/.metadata/*